**pycache**/
_.pyc
_.pyo
_.pyd
.Python
env/
venv/
.algenv/
_.sqlite3
/media
node_modules/
_.log
_.pot
_.pyc
_.pyo
_.swp
_.swo
\*~
.DS_Store
.idea/
.vscode/
.git/
.gitignore
README.md
docs/
Algoritmos/
