{% extends 'base.html' %}

{% block sidebar_links %}
  <li class="nav-item">
      <!--TODO: Cambiar link -->
      <a class="nav-link" href="{% url 'analysis' %}">Mis resultados</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'file_manager' %}">Mis archivos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'analysis' %}">Realizar análisis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:logout' %}">Cerrar sesión</a>
  </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">
          ← Volver al dashboard
        </a>
        <a href="{% url 'accounts:logout' %}" class="btn btn-danger">
          Cerrar sesión
        </a>
    </div>
    <h2 class="mt-3">Realizar Análisis</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="file">Seleccionar archivo:</label>
            <select name="file" class="form-select" required>
                <option value="">-- Selecciona un archivo --</option>
                {% for file in files %}
                <option value="{{ file.id }}">{{ file.file.name|cut:"uploads/" }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="algorithm">Seleccionar algoritmo:</label>
            <select name="algorithm" class="form-select" required>
                <option value="">-- Selecciona un algoritmo --</option>
                {% for algo in algorithms %}
                <option value="{{ algo.id }}">{{ algo.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Ejecutar algoritmo</button>
            <a href="{% url 'analysis' %}" class="btn btn-secondary">Limpiar filtros</a>
        </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
