<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login - {{ source|capfirst }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login for: {{ source|capfirst }}</h2>

      <form method="post" action="{% url 'custom_login' %}">
        {% csrf_token %} {% if form.errors %}
        <div style="color: red">
          <strong>Please correct the errors below:</strong>
        </div>
        {% endif %}

        <div>
          {{ form.username.label_tag }}<br />
          {{ form.username }}<br />
          {{ form.username.errors }}
        </div>

        <div>
          {{ form.password.label_tag }}<br />
          {{ form.password }}<br />
          {{ form.password.errors }}
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
