<!-- templates/algorithms/algorithm_list.html -->
{% extends "base.html" %}

{% block content %}
  <h2>Lista de algoritmos</h2>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Versión</th>
      <th>Proyecto</th>
      <th>Archivo</th>
    </tr>
    {% for algo in algorithms %}
      <tr>
        <td>{{ algo.name }}</td>
        <td>{{ algo.version }}</td>
        <td>{{ algo.project.name }}</td>
        <td>
          {% if algo.file %}
            <a href="{{ algo.file.url }}">Descargar</a>
          {% else %}
            No subido
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
