{% extends "base.html" %}

{% block sidebar_links %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'file_manager' %}">Mis archivos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'analysis' %}">Realizar análisis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'results' %}">Mis resultados</a>
  </li>
  {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manage_algorithms' %}">Gestionar algoritmos</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:logout' %}">Cerrar sesión</a>
  </li>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mt-5">
    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">
      ← Volver al dashboard
    </a>
    <a href="{% url 'accounts:logout' %}" class="btn btn-danger">
      <i class="fa fa-sign-out-alt me-1"></i> Cerrar sesión
    </a>
  </div>
  {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  <h2 class="mt-5">Gestionar Algoritmos</h2>

  <a href="{% url 'create_algorithm' %}" class="btn btn-primary mb-3">
    <i class="fas fa-plus me-1"></i> Crear nuevo algoritmo
  </a>

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Versión</th>
        <th>Proyecto</th>
        <th>Tipos de archivo admitidos</th>
        <th>Archivo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for algo in algorithms %}
        <tr>
          <td>{{ algo.name }}</td>
          <td>{{ algo.version }}</td>
          <td>{{ algo.project }}</td>
          <td>{{ algo.supported_types.all|join:", " }}</td>
          <td>
            {% if algo.archive %}
              <a href="{{ algo.archive.url }}" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-download me-1"></i>Descargar
              </a>
            {% else %}
              <span class="text-muted">No subido</span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'edit_algorithm' algo.id %}" class="btn btn-secondary btn-sm">
              <i class="fa fa-pencil-alt me-1"></i>Editar
            </a>
            <form method="post" action="{% url 'delete_algorithm' algo.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">
                <i class="fa fa-trash-alt me-1"></i>Borrar
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
