{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block sidebar_links %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'file_manager' %}">Mis archivos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'analysis' %}">Realizar análisis</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'results' %}">Mis resultados</a>
  </li>
  {% if user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manage_algorithms' %}">Gestión de algoritmos</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:logout' %}">Cerrar sesión</a>
  </li>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-end">
  <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Cerrar sesión</a>
</div>
<div class="container py-4 text-center">
  <h2>Bienvenido, {{ user.username }}</h2>
  <p>Estás en el proyecto: <strong>{{ project_slug }}</strong></p>
</div>
{% endblock %}
