{% extends "base.html" %}
{% load static %}

{% block title %}{{ source|title }}{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <h1 class="mb-3">Estás en {{ source|title }}</h1>
  <p class="lead mb-4">Aquí puedes iniciar sesión y gestionar tus algoritmos en el entorno de FV Analysis.</p>

  <a href="{% url 'accounts:login' %}" class="btn btn-success px-4">Iniciar sesión</a>
  <a href="{% url 'accounts:register' %}" class="btn btn-success px-4">Registrar</a>
</div>
{% endblock %}
