{% extends "base.html" %}
{% load static %}

{% block title %}Algovision | {{ source|title }}{% endblock %}

{% block sidebar_links %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Iniciar sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:register' %}">Registrarse</a>
    </li>
{% endblock %}

{% block content %}
<div>
  <a href="{% url 'index' %}" class="btn btn-outline-secondary ms-5">
    ← Volver al menú principal
  </a>
</div>
<div class="container py-5 text-center">
  <h1 class="mb-3">Estás en {{ source|title }}</h1>
  <p class="lead mb-4">Aquí puedes iniciar sesión y gestionar tus algoritmos en el entorno de {{source}}.</p>

  <a href="{% url 'accounts:login' %}" class="btn btn-success px-4">
    <i class="fas fa-sign-in-alt me-2"></i> Iniciar sesión
  </a>
  <a href="{% url 'accounts:register' %}" class="btn btn-success px-4">
    <i class="fas fa-user-plus me-2"></i> Registrarse
  </a>
</div>
{% endblock %}
